@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="grid-container">

    <div class="grid-item row1">
        <h1 class="section-title">READY TO GET FIT?</h1>
        <h2>Start your journey with us</h2>
    </div>
    <div class="grid-item row2">



        <div class="right">

            <section class="grid-item grid-container-1">
                <p>
                    <h2 id="header"> SOME OF OUR FEATURES INCLUDE:</h2>

                    <ul style="font-size: 20px;  list-style-type: none;">
                        <li>Seamless timers for interval training</li>
                        <li>Easy to navigate interface</li>
                        <li>Suggested exercises to add to your custom workouts</li>
                    </ul>
                </p>
            </section>

        </div>

        <div class="left">

            <img class="picture" src="~/images/appfeaturesdisplay.png" alt="">

        </div>


    </div>



    <div class="grid-item row3">

        <div class="left">

            <img class="picture" src="~/images/phonewithlogo.PNG" alt="">

        </div>


        <div class="right">

            <div class="container">

                <section class="grid-item grid-container-1">
                    <p>
                        Please download our app for better experience
                    </p>
                </section>

                <section class="grid-item grid-container-2">
                    <div>
                        <a href="" class="button"><i class="fa" aria-hidden="true"></i></a>
                    </div>
                </section>


                <section class="grid-item grid-container-3">

                    <a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img style="height:60px" src="https://www.niftybuttons.com/googleplay/googleplay-button1.png"></a>
                    <a href="https://apps.apple.com/us/app/sudoku-sudoku-puzzle-games/id1492978794?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1580860800&h=baabb4151008b2f83c3627fb03d164be" alt="Download on the App Store" style="border-radius: 13px; width: 200px; height: 80px;"></a>

                </section>

            </div>
        </div>


    </div>


    <div class="grid-item footer">
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - JCMFitnessWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>
</div>


