@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="grid-container">
    <div class="grid-item item1">1</div>
    <div class="grid-item item2">2</div>
    <div class="grid-item item3">3</div>
    <div class="grid-item footer">
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - JCMFitnessWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>
</div>


