@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-3">The time to get fit is now!</h1>
</div>
<div id="timersection">

 <h1> </h1>
 
</div>
