/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



body {
    color: ghostwhite;
    margin: 0;
}

.container {
    padding: 0 !important;
    max-height: 125px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    /*Navbar CSS
    -------------------------------------------------------------------------------------------------
*/

    a.navbar-brand {
        margin-left: 0;
        border-radius: 50%;
    }

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

nav {
    margin-bottom: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

a.nav-link {
    font-size: 2em;
}

    a.nav-link:hover {
        transition-duration: .1s;
        border: solid;
        border-radius: 0px 1px 0px 1px;
        border-width: 0px 4px 0px 4px;
        border-color: lightgray;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: white;
}

.container {
    margin: 0;
    margin-left: 0;
}


/*HomePageGridSettings
    --------------------------------------------------------------------------------------
*/
.grid-container {
    display: grid;
    width: 100vw;
    height: 100vw;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.row1 {
    grid-column:span ;
    grid-row: 1;
    background-image: url(../images/FirstGridBackGroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #18261F;
    padding-bottom: 15%;
    padding-top: 15%;
}
.section-title{
    font-size: 10vw;
}



.row2 {
    grid-column:span;
    grid-row: 2;
    background-color: white;
    padding-bottom: 10%;
    padding-top: 5%;
    color: black;
}

.row3 {
    grid-column: span;
    grid-row: 3;
    background-color: #4e8bf5;
    padding-bottom: 5%;
    padding-top: 5%;
}




/*Take home section
    --------------------------------------------------------------------------------------
*/
.row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row2 .right .container{
    background-color: white;
    height: 200px;
}

.left {
    width: 45%;
    height: 100%;
    position:relative;
    align-items: flex-end;
}

.left img {
    right:100px;
}


.container {
    align-items: center;
    justify-items: center;
}

.right{
    width: 55%;
    height: 100%;
    justify-content:right;
    text-align: right;
}


.right .badge {
    display: flex;
    align-items: center;
    justify-items: center;
    filter: drop-shadow(25px 25px 25px rgb(24, 21, 21));
    background-color: #4e8bf5;
    border-radius: 80%;
}

.grid-container-3 {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #4e8bf5;
}

.grid-container a {
    filter: drop-shadow(25px 25px 25px rgb(24, 21, 21));
}

.right p {
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2px;
    font-weight: bold;
    background-color: #4e8bf5;
}

.right .container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    height: 400px;
    background-color: #4e8bf5;
    width: 60%;
}

.row2 .right .container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    height: 400px;
    background-color: floralwhite;
    width: 60%;
}

.row3 .left img {
    height: 600px;
    width: 300px;
    border-radius: 50%;
    border-radius: 6px;

    filter: drop-shadow(25px 25px 25px rgb(24, 21, 21));
}

.row2 .left img {
    height: 600px;
    width: 300px;
    border-radius: 50%;
    border-radius: 6px;
    filter: drop-shadow(25px 25px 25px rgb(24, 21, 21));
}

/**

    Button section
*/
.button {
    display: inline-block;
    padding: 12px 12px 10px;
    border: 0;
    border-radius: 3px;
    background: #bf4d28;
    text-decoration: none;
    transition: all 1.2s ease-in-out;
    animation: pulse 0.3s 2 both;
    animation-iteration-count: infinite;
    filter: drop-shadow(25px 25px 25px rgb(24, 21, 21));
}

.button i::after {
    content: "\f019";
    font-size: 60px;
    color: #fff;
}

.button:hover {
    background: green;
}

.button.loading i {
    -webkit-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
}

    .button.loading i::after {
        content: "\f1ce";
    }

.button.success {
    border-radius: 50%;
    background: #80bca3;
}

.button.success i::after {
    content: "\f00c";
    color: transparent;
    -webkit-animation: change-icon 1s 0.6s linear both;
    animation: change-icon 1s 0.6s linear both;
}

@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes change-icon {
    0% {
        color: transparent;
    }

    100% {
        color: #fff;
    }
}

@keyframes change-icon {
    0% {
        color: transparent;
    }

    100% {
        color: #fff;
    }
}

@-webkit-keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}




