/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



body {
    color: ghostwhite;
    margin: 0;
}

.container{
  padding:0 !important;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/*Navbar CSS 
    -------------------------------------------------------------------------------------------------
*/

a.navbar-brand {
    margin-left: 0;
    border-radius: 50%;
}

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

nav{
    margin-bottom: 0;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.nav-link{
    font-size:2em;
}

a.nav-link:hover {
    transition-duration:.1s;
    border: solid;
    border-radius: 0px 1px 0px 1px;
    border-width: 0px 4px 0px 4px ;
    border-color: lightgray;
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background: white;
  
}

.container{
    margin: 0;
    margin-left: 0;
}


/*HomePageGridSettings
    --------------------------------------------------------------------------------------
*/
.grid-container {
    display: grid;
    width: 100vw;
    height: 100vw;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.row1 {
    grid-column:span ;
    grid-row: 1;
    background-image: url(../images/FirstGridBackGroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #18261F;
    padding-bottom: 15%;
    padding-top: 15%;
}
.section-title{
    font-size: 10vw;
}



.row2 {
    grid-column:span;
    grid-row: 2;
    background-color: floralwhite;
    padding-bottom: 25%;
    padding-top: 25%;
    color: black;  
}

.row3 {
    grid-column: span;
    grid-row: 3;
    background-color: #252C2D;
    padding-bottom: 25%;
    padding-top: 25%;
}
        
